

.menu-item{
    display: flex;
    justify-content: space-between;
    margin:15px;
    font-size: 1.4rem;
    position:relative;
}

 
 
.fa-image{
     
    color:rgb(56, 56, 56);
   
    margin-left:15px;
    cursor: pointer;

}

 

 

.image-dormant{
     
    width:0;
    height:0;
    position:relative;
    
    z-index:-1;
}